menuconfig MODULES_MANUAL_SERVO_CONTROL
	bool "manual_servo_control"
	default n
	---help---
		Enable support for manual_servo_control

menuconfig USER_MANUAL_SERVO_CONTROL
	bool "manual_servo_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_MANUAL_SERVO_CONTROL
	---help---
		Put manual_servo_control in userspace memory
