menuconfig MODULES_FMAV_ATT_CONTROL
	bool "fmav_att_control"
	default n
	---help---
		Enable support for fmav_att_control

menuconfig USER_FMAV_ATT_CONTROL
	bool "fmav_att_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_MC_ATT_CONTROL
	---help---
		Put fmav_att_control in userspace memory
